<div class="job">

    <div class="is-family-monospace has-text-grey-light">
        <small>{{ loop.index }}</small>
    </div>

    <div class="image is-32x32">
        <img class="job-preview-image" src="{{ asset('uploads/link_images/'~job.imgFilename) }}" alt=""
             style=""
        >
    </div>

    <div>
        <h5 class="has-text-weight-bold">
            {{ job.company.name|upper }}
        </h5>
    </div>

    <div>
        <h5>
            <a class="has-text-weight-bold px-2 {{ job.favourite ? 'is-favourite has-text-dark' : 'has-text-grey' }}"
               href="{{ path('job_edit', {id: job.id}) }}"
               style="background: {{ job.favourite ? 'hsl(44, 100%, 77%)' : '' }}"
            >
                {{ job.title }}
            </a>
        </h5>
    </div>

    <div>
        {% if job.link is not null %}
            <a href="{{ job.link }}" target="_blank">
                {#                                <i class="fas fa-external-link-alt"></i> #}
                <i class="fas fa-location-arrow"></i>
            </a>
        {% endif %}
    </div>

    <div class="status has-background-{{ job.status|status_color }} has-text-centered mr-2">
        <small class="has-text-weight-semibold">
            {{ job.status|status|upper }}
        </small>
    </div>

    <div>
        {% if job.platform is not null %}
            <p class="has-text-weight-semibold">{{ job.platform.name }}</p>
        {% endif %}
    </div>

    <div>
        <p>{{ job.appliedOn|date("d/m/Y") }}</p>
    </div>

</div>
