{% extends 'base.html.twig' %}

{% block main %}

    <section>
        <div class="container">

            <h1 class="is-size-3 has-text-weight-bold has-text-centered my-6">
                {% if 'form' in app.request.get('_route') %}
                    <span>Création</span>
                {% elseif 'edit' in app.request.get('_route') %}
                    <span>Modification</span>
                {% endif %}
                d'annonce</h1>


            {# DELETE BUTTON #}
            {% if job is defined and job.id is not null %}
                {% include 'components/_modal_toggler.html.twig' with { identifier: job.title } %}
            {% endif %}

{#            {{ dump(job.top) }}#}

            {{ form_start(form) }}

            <div class="columns">
                <div class="column">
                    <div class="field">
                        {{ form_label(form.company, 'Société', {'label_attr': {'class': 'label'}}) }}
                        <div class="control">
                            <div class="select">
                                {{ form_widget(form.company, {attr: {class: ''}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        {{ form_label(form.platform, 'Plateforme', {'label_attr': {'class': 'label'}}) }}
                        <div class="control">
                            <div class="select">
                                {{ form_widget(form.platform, {attr: {class: ''}}) }}
                            </div>
                        </div>
                    </div>
                </div>

{#                <div class="column">#}
{#                    <div class="field">#}
{#                        {{ form_label(form.status, 'Statut', {'label_attr': {'class': 'label'}}) }}#}
{#                        <div class="control">#}
{#                            <div class="select">#}
{#                                {{ form_widget(form.status, {attr: {class: ''}}) }}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}


                <div class="column">


                    <label class="label">Image</label>
                    <!-- FILE -->
                    <div class="file">
                        <label class="file-label">
                            <input type="file"
                                   id="job_img"
                                   name="job[imgFile]"
                                   class="file-input"
                            >

                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="fas fa-upload"></i>
                              </span>
                              <span class="file-label">
                                Choose a file…
                              </span>
                            </span>

                        </label>
                    </div>
                </div>

            </div>


            <div class="columns">

                <div class="column is-three-fifths">
                    <div class="field">
                        {{ form_label(form.title, '', {'label_attr': {'class': 'label'}}) }}
                        <div class="control">
                            {{ form_widget(form.title, {attr: {class: 'is-size-4 p-2'}}) }}
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field mt-6">
                        <label class="switch">
                            <input id="job_favourite"
                                   name="job[favourite]"
                                   type="checkbox" {{ job.favourite ? 'checked' : '' }}>
                            <span class="slider round"></span>
                        </label>
                        <label class="checkbox is-size-5 has-text-weight-bold ml-3" for="">Favori</label>
                    </div>
                </div>

                <div class="column">
                    <div class="field mt-6">
                        <label class="switch">
                            <input id="job_favourite"
                                   name="job[top]"
                                   type="checkbox" {{ job.top ? 'checked' : '' }}>
                            <span class="slider round"></span>
                        </label>
                        <label class="checkbox is-size-5 has-text-weight-bold ml-3" for="">Prioritaire</label>
                    </div>
                </div>

            </div>





            <div class="field py-5">

                {% set status_list = [
                    'Refusée',
                    'À traiter',
                    'Candidature',
                    'En cours',
                    'Entretien',
                ] %}

                <div class="range-wrapper">

                    {% for status in status_list %}
                        <div class="item step">
                            <p class="status-label">{{ status }}</p>
                            <div class="mark">
                                <div class="line"></div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="item command">
                        <input id="job_status"
                               name="job[status]"
                               type="range" min="0" max="4" step="1"
                               value="{{ job.status is not null ? job.status : '1' }}">
                    </div>

                </div>

            </div>





            <div class="field">
                {{ form_label(form.link, 'Lien', {'label_attr': {'class': 'label'}}) }}
                <div class="control">
                    {{ form_widget(form.link, {attr: {class: 'is-size-5 p-2'}}) }}
                </div>
            </div>

            <div class="columns">

                <div class="column">
                    <div class="field">
                        {{ form_label(form.appliedOn, 'Candidature du', {'label_attr': {'class': 'label'}}) }}
                        <div class="control">
                            {{ form_widget(form.appliedOn, {attr: {class: 'is-size-5 p-2'}}) }}
                        </div>
                    </div>
                </div>

                <div class="column">

                </div>

            </div><!-- /.columns -->



{#            <div class="is-flex is-flex-direction-row is-justify-content-flex-start">#}
{#                {{ form_widget(form.favourite, {attr: {class: 'checkbox'}}) }}#}

{#                {{ form_label(form.favourite, '', {'label_attr': {'class': 'checkbox'}}) }}#}
{#            </div>#}


{#            <div class="field mt-5">#}

{#                <label class="switch">#}
{#                    <input id="job_favourite"#}
{#                           name="job[favourite]"#}
{#                           type="checkbox" {{ job.favourite ? 'checked' : '' }}>#}
{#                    <span class="slider round"></span>#}
{#                </label>#}

{#                <label class="checkbox is-size-5 has-text-weight-bold ml-3" for="">Favori</label>#}

{#            </div>#}



            <div class="field">
                <div class="control has-text-centered">
                    {{ form_widget(form.submit, {attr: {class: 'button is-primary my-4'}}) }}
                </div>
            </div>


            {{ form_widget(form._token) }}
            {{ form_end(form, {render_rest: false}) }}

        </div>
    </section>

{% endblock %}
