{% extends 'base.html.twig' %}

{% block main %}

    <section>
        <div class="container">

            <h1 class="is-size-3 has-text-weight-bold has-text-centered my-6">Modification de plateforme</h1>







            {% if platform is defined and platform.id is not null %}

                {% include 'components/_modal_toggler.html.twig' with { identifier: platform.name } %}

            {% endif %}








            {{ form_start(form) }}

            <div class="field">
                {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'label'}}) }}
                <div class="control">
                    {{ form_widget(form.name, {attr: {class: 'is-size-4 p-2'}}) }}
                </div>
            </div>

            <div class="field">
                {{ form_label(form.website, 'Site web', {'label_attr': {'class': 'label'}}) }}
                <div class="control">
                    {{ form_widget(form.website, {attr: {class: 'is-size-4 p-2'}}) }}
                </div>
            </div>

            <div class="field">
                {{ form_label(form.contact, 'Contact', {'label_attr': {'class': 'label'}}) }}
                <div class="control">
                    {{ form_widget(form.contact, {attr: {class: 'is-size-4 p-2'}}) }}
                </div>
            </div>

            <div class="field">
                <div class="control has-text-centered">
                    {{ form_widget(form.submit, {attr: {class: 'button is-primary is-medium my-4'}}) }}
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </section>


{% endblock %}
