{% extends 'base.html.twig' %}

{% block main %}

    <section>
        <div class="container is-fluid">

            {# PAGE HEADER #}
            <div class="page-header">
                <h1 class="is-size-2 has-text-weight-bold my-3">Sociétés</h1>
            </div>

            {# TOOLBAR #}
            <div class="toolbar">
                <a class="button is-info is-medium my-3" href="{{ path('company_form') }}">
                    <i class="fas fa-plus-square mr-2"></i>
                    Ajouter
                </a>
            </div>



            <div class="company has-text-weight-bold has-text-grey-light">
                <div>ID</div>
                <div>NOM</div>
                <div>DOMAINE D'ACTIVITÉ</div>
                <div>SITE WEB</div>
            </div>

            {% for company in companies %}
                <div class="company">
                    <div>{{ company.id }}</div>

                    <div>
                        <h5>
                            <a class="has-text-weight-bold has-text-info"
                               href="{{ path('company_edit', {id: company.id}) }}">
                                {{ company.name }} ({{ company.jobs|length}})
                            </a>
                        </h5>
                    </div>

                    <div>{{ company.domain }}</div>

                    <div>
                        <small>
                            <a class="has-text-weight-semibold has-text-primary"
                               href="{{ company.website }}"
                               target="_blank">{{ company.website }}</a>
                        </small>
                    </div>

                </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}
