{% if app.request.attributes.get('_route_params') is not empty and app.request.attributes.get('status') is defined %}
    {% set status = app.request.attributes.get('_route_params').status %}
{% else %}
    {% set status = 999 %}
{% endif %}

<div class="toolbar">
    <a class="button is-info is-light my-3" href="{{ path('job_form') }}">
        <i class="fas fa-plus-square mr-2"></i>
        Ajouter
    </a>

    <div></div>

    <div class="select">
        <select name="filter">
            <option value="" disabled {{ status is same as(999) ? 'selected' : '' }}>---</option>
            <option value="0" {{ status is same as('0') ? 'selected' : '' }}>Refusé</option>
            <option value="1" {{ status is same as('1') ? 'selected' : '' }}>À traiter</option>
            <option value="2" {{ status is same as('2') ? 'selected' : '' }}>Candidature</option>
            <option value="3" {{ status is same as('3') ? 'selected' : '' }}>En cours</option>
            <option value="4" {{ status is same as('4') ? 'selected' : '' }}>Entretien</option>
        </select>
    </div>

    <a id="filterBtn" class="button is-info my-3" href="">
        <i class="fas fa-filter mr-2"></i>
        Filtrer
    </a>

    <div></div>

    <a class="button is-primary is-light my-3" href="/?progress=active">
        <i class="fas fa-spinner mr-2"></i>
        Actifs
    </a>

    <a class="button is-warning is-light my-3" href="/">
        <i class="fas fa-trash-alt mr-2"></i>
        Reset
    </a>

</div>
