{% extends 'base.html.twig' %}

{% block main %}

    <section>
        <div class="container is-fluid">

            {# PAGE HEADER #}
            <div class="page-header">
                <h1 class="is-size-3 has-text-weight-bold my-3">Dashboard</h1>
            </div>

            {# TOOLBAR #}
            {% include 'dashboard/_toolbar_dashboard.html.twig' %}

            {# PAGE CONTENT #}
            <div class="job has-text-weight-semibold has-text-grey-light">
                <div>ID</div>
                <div>SOCIÉTÉ</div>
                <div>INTITULÉ</div>
                <div></div>
                <div>STATUT</div>
                <div>PLATEFORME</div>
                <div>POSTULÉ LE</div>
            </div>

            {% for job in jobs %}
                <div class="job">

                    <div class="is-family-monospace has-text-grey-light">
                        <small>{{ loop.index }}</small>
                    </div>

                    <div>
                        <h5 class="has-text-weight-bold">
                            {{ job.company.name|upper }}
                        </h5>
                    </div>

                    <div>
                        <h5>
                            <a class="has-text-weight-bold px-2 {{ job.favourite ? 'is-favourite has-text-dark' : 'has-text-grey'}}"
                               href="{{ path('job_edit', {id: job.id}) }}"
                               style="background: {{ job.favourite ? 'hsl(44, 100%, 77%)' : '' }}"
                            >
                                {{ job.title }}
                            </a>
                        </h5>
                    </div>

                    <div>
                        {% if job.link is not null %}
                            <a href="{{ job.link }}" target="_blank">
{#                                <i class="fas fa-external-link-alt"></i>#}
                                <i class="fas fa-location-arrow"></i>
                            </a>
                        {% endif %}
                    </div>

                    <div class="status has-background-{{ job.status|status_color }} has-text-centered mr-2">
                        <small class="has-text-weight-semibold">
                            {{ job.status|status|upper }}
                        </small>
                    </div>

                    <div>
                        {% if job.platform is not null %}
                            <p class="has-text-weight-semibold">{{ job.platform.name }}</p>
                        {% endif %}
                    </div>

                    <div>
                        <p>{{ job.appliedOn|date("d/m/Y") }}</p>
                    </div>
                </div>
            {% endfor %}



{#            {% set colors = [#}
{#                'primary',#}
{#                'info',#}
{#                'warning',#}
{#                'danger',#}
{#                'grey-light',#}
{#                'grey-lighter',#}
{#            ] %}#}

{#            {% for c in colors %}#}
{#                <div class="has-background-{{ c }}" style="width: 100px; border-radius: 10px">#}
{#                    <p>ABC</p>#}
{#                </div>#}
{#            {% endfor %}#}



        </div>
    </section>





{% endblock %}
